html {
     height: 100vh;

   }

   body {
width: 80vw;
margin: auto;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
   }

   header {
     background-color: #E5FFFD;
     /*padding-top: 50px;*/
      margin-left: 0px;
      margin-right: 0px;
      font-size: 28px;
     display: block;
     width: 100%;

   }
   h1{
     padding: 10px 100px;
     text-align: center;
 }
   h2{
     font-size: 24px;
     padding-bottom: 25px;
   }
   nav {
     width: auto;
     background-color: #BFFEFF;
   }
   nav ul {
  
   }
   nav li {

   }
   nav li a {

   }
   a {

   }
   section {

   }
   aside {

   }
   aside ul {

   }
   footer {

   }
